html,
body {
  padding: 0;
  margin: 0;
}

#wrapper {
  width: 300px;
  background-color: #f5f5f5;
  text-align: center;
  padding: 0;
}

#header {
  padding: 12px;
  transition: background-color 0.35s ease-in-out 0s;
  background-color: #4fc3f7;
}

#header h1 {
  font-size: 16px;
  font-weight: normal;
  color: #212121;
  margin: 0;
}

#today {
  display: block;
  margin-top: 24px;
  font-size: 12px;
  color: #212121;
}

#timer {
  font-size: 36px;
  padding: 0;
  margin-bottom: 8px;
  margin-bottom: 24px;
  color: #212121;
}

#loadingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

#loading span {
  font-size: 24px;
  text-align: center;
  color: #212121;
}

#contentWrapper {
  display: none;
  padding: 18px;
}

#activeIndicator.activeSession {
  font-size: 22px;
  margin-right: 12px;
  color: #1b5e20;
}

#activeIndicator.inactiveSession {
  font-size: 22px;
  margin-right: 12px;
  color: #b71c1c;
}

button {
  transition: background-color 0.25s ease-in-out 0s;
  outline: none;
  color: #212121;
  background-color: #4fc3f7;
  width: 100%;
  padding: 12px;
  height: 48px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

button:hover {
  cursor: pointer;
  background-color: #81d4fa;
  transition: background-color 0.25s ease-in-out 0s;
}

#buttonGroup {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.groupedActive {
  outline: none;
  color: #212121;
  width: inherit;
  height: inherit;
  background-color: #81c784;
  border-radius: 0;
  padding: 8px;
  border: 1px solid #81c784;
  margin: 0;
  font-weight: bold;
  text-transform: lowercase;
  font-size: 12px;
  width: 80px;
}

button.groupedInactive {
  outline: none;
  border-radius: 0;
  width: inherit;
  height: inherit;
  color: #212121;
  background-color: #eeeeee;
  border: 1px solid #e0e0e0;
  padding: 8px;
  margin: 0;
  font-weight: bold;
  text-transform: lowercase;
  font-size: 12px;
  width: 80px;
}

button.groupedInactive:hover {
  cursor: pointer;
}

.groupedActive:first-child,
.groupedInactive:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.groupedActive:last-child,
.groupedInactive:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
